@font-face {
  font-family: "Perfect";
  src: url("/Perfect.woff") format("woff");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

/* EVIL AESTHETIC THING */
*::-webkit-scrollbar {
  display: none;
}

:root {
  --background: #0a0a0f;
  --background-low: #232329;
  --background-high: #54545a;
  --text: #dce7f4;
  --text-muted: #9ba5b1;
  --shadow-color: #dce7f4;
  --main: #78a8dc;
  --shadow: 0 0 8px -2px #000a, 0 0 4px -1px #000a;

  color-scheme: dark;
}

html {
  background-color: var(--background);
  background: linear-gradient(to bottom, #29283180, var(--background));
  background-attachment: fixed;
  color: var(--text);
  font-family: Perfect, code, monospace;
  line-height: 1.1;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

img {
  display: block;
  object-fit: contain;
  max-width: 100%;
}

button {
  background-color: unset;
  border: unset;
  color: inherit;
  font: inherit;
  padding: 0;
}

label {
  font-size: 1.25rem;
  text-align: left;
}

input[type="text"] {
  /* reset */
  background-color: transparent;
  border: none;
  overflow: auto;
  outline: none;
  font-family: inherit;
  font-size: inherit;

  font-size: 1.25rem;
  background-color: var(--background-low);
  border: 2px solid var(--background-high);
  padding: 0.25rem 0.35rem;
  margin-bottom: 1rem;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  font-family: inherit;
  font-size: inherit;

  background-color: var(--background-low);
  width: 100%;
  resize: vertical;
}

a {
  color: inherit;
  transition:
    color 140ms ease,
    text-decoration-color 70ms ease;
  text-decoration-color: transparent;

  &:hover {
    color: var(--main);
    text-decoration-color: currentColor;
  }
}

.text-shadow {
  text-shadow:
    0 0 8px rgb(235 251 255 / 50%),
    0 0 24px rgb(151 232 255 / 25%),
    0 0 36px rgb(0 154 198 / 60%);
}
